@charset "UTF-8";
.dbjimg  a{
    width: 100%;
    height: 644px;
    display: inline-block;
    background: url("../images/images/a-bg.jpg") no-repeat  top  center;
    position: absolute;
    z-index: 0;
}
.dcenter .l-center{
    position: relative;
    z-index: 4;
    margin-left: 220px;
    top: 12px;
}
.dcenter .l-center .l-centera{
    width: 730px;
    height: 456px;
    display: block;
}
.dcenter .l-center span{
    width: 32px;
    height: 64px;
    display: block;
    line-height: 64px;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 180px;
    /*left: 0px;*/
    color: white;
    cursor: pointer;
}
.dcenter .l-center  .span .r-span{
    right: 0px;
}
.dcenter .l-center .shuzi{
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -100px;
}
.dcenter .l-center .shuzi li{
    float: left;
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: #333333;
    border-radius: 9px;
    margin-left: 10px;
    text-align: center;
}
.dcenter .l-center .shuzi li a{
    color: white;
    line-height: 18px;
}
.dcenter .r-center{
    position: relative;
    width: 250px;
    height: 454px;
    display: inline-block;
    top: 12px;
}
.dcenter .r-center .r-center-top{
    width: 248px;
    border: 1px solid #E4E4E4;
}
.dcenter .r-center .r-center-top .top-nws{
    height: 163px;
    border-bottom: 1px solid  #E4E4E4;
}
.dcenter .r-center .r-center-top .bot-nws{
    height: 208px;
}
.dcenter .r-center .r-center-bot{
    margin-top:5px;
}
.dcenter .r-center .r-center-top .span{
    line-height: 32px;
    height: 32px;
    display:block;
    border-bottom: 1px dashed #E4E4E4;
    font-size: 14px;
    color: #666666;
    padding-left: 5px;
    font-weight: 800;
}
.dcenter .r-center .r-center-top .a{
    float: right;
    font-size: 12px;
}
.dcenter .r-center .r-center-top .top-nws ul{
    float: left;
    margin-top: 11px;
    margin-left: 15px;
}
.dcenter .r-center .r-center-top .li{
    line-height: 24px;
}
.dcenter .r-center .r-center-top .bot-nws ul{
    width: 253px;
}
.dcenter .r-center .r-center-top .bot-nws{
    overflow: hidden;
}
.dcenter .r-center .r-center-top .bot-nws li{
    float: left;
    height: 20px;
    width: 62px;
    display: inline-block;
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4 ;
    text-align: center;
    padding-top: 50px;
    position: relative;
}
.dcenter .r-center .r-center-top .bot-nws i{
    width: 25px;
    height: 24px;
    display: inline-block;
    background: url("../images/images/news-bg.png") no-repeat;
    position: absolute;
    top: 13px;
    left: 17px;
}

.dcenter .r-center .r-center-top .bot-nws b{
    height: 18px;
    width: 15px;
    display: inline-block;
    background-color: green;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
}
.day{
    margin-top: 20px;
    height: 151px;
    position: relative;
}
.day .l-day{
    width: 210px;
    height: 151px;
    display: inline-block;
    background: url("../images/images/homebg.png") no-repeat -213px -136px;
}
.day .r-day{
    width: 1000px;
    height: 151px;
    overflow: hidden;
    position: relative;
}
.day .r-day ul{
    width: 2000px;
}
.day .r-day li{
    width: 250px;
    height: 164px;
    float: left;
    margin-right: 1px;
}
.day .r-day span{
    float: left;
    height: 30px;
    width: 15px;
    display: inline-block;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: white;
    top: 60px;
}
.day .r-dayp .rr-dayp{
    right: 0;
}
.day .r-dayp .lr-dayp{
    left: 0;
}
.day .r-day span:hover{
    background-color: rgba(0,0,0,.8);
}